<div class="panel panel-default">
    <div clas="panel-header">
        <span class="label label-primary">QPS 基准测试报告</label>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>任务ID</td>
                    <td><a class="btn btn-link" href="/vegeta/logs?job_id={{ .log.JobId }}">{{ .log.JobId }}</a></td>
                </tr>
                <tr>
                    <td>任务名称</td>
                    <td>{{ .log.JobName }}</td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>{{ .log.JobUrl }}</td>
                </tr>
                {{ if .log.JobDetail }}
                <tr>
                    <td>团队</td>
                    <td>{{ .log.JobDetail.Team }}</td>
                </tr>
                <tr>
                    <td>测试集</td>
                    <td>{{ .log.JobDetail.Project }}</td>
                </tr>
                <tr>
                    <td>请求方法</td>
                    <td>{{ .log.JobDetail.Method }}</td>
                </tr>
                <tr>
                    <td>主机:端口 列表</td>
                    <td>
                        <ul class="list-group">
                        {{ range .log.JobDetail.Hosts }} 
                        <li class="list-group-item">{{ . }}</li>
                        {{ end }}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>附加信息</td>
                    <td>{{ .log.Comment }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-header">
        <span class="label label-primary">图形化报告</label>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div id="graph_latency_rate"></div>
            </div>
            <div class="col-md-6">
                <div id="graph_rate"></div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <div id="graph_latency"></div>
            </div>
            <div class="col-md-6">
                <div id="graph_status_codes"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
new Dygraph(
    document.getElementById("graph_rate"),
    "Time,QPS/s\n" + {{ .log.RateMetrics }},
    {"title": "经过时间-每秒请求数", "xlabel": "经过时间(s)", "ylabel": "每秒请求数"}
);
new Dygraph(
    document.getElementById("graph_latency"),
    "Time,Response Time\n" + {{ .log.LatencyMetrics }},
    {"title": "经过时间-响应时间", "xlabel": "经过时间(s)", "ylabel": "响应时间(ms)"}
);
new Dygraph(
    document.getElementById("graph_latency_rate"),
    "QPS,Response Time/s\n" + {{ .log.RateLatencyMetrics }},
    {"title": "每秒请求数-响应时间", "xlabel": "每秒请求数", "ylabel": "响应时间(ms)"}
);
new Dygraph(
    document.getElementById("graph_status_codes"),
    "Time{{ range $code, $flag := .log.StatusCodesList }},{{ $code }}{{ end }}\n" + {{ .log.StatusCodesMetrics }},
    {"title": "经过时间-状态码计数", "xlabel": "经过时间(s)", "ylabel": "状态码计数"}
);
</script>
<div class="panel panel-default">
    <div clas="panel-header">
        <span class="label label-primary">文本报告</label>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>QPS</th>
                <th>持续时间</th>
                <th>Total Requests</th>
                <th>Success Ratio</th>
                <th>平均响应时间</th>
                <th>99%响应时间</th>
                <th>95%响应时间</th>
                <th>返回状态码</th>
                <th>错误计数</th>
            </tr>
            {{ range .log.MetricsList }}
            <tr>
                <td>{{ .Rate }}/s</td>
                <td>{{ .Duration }}s</td>
                <td>{{ .Requests }}</td>
                <td>{{ .Success  }}</td>
                <td>{{ .Latencies.Mean }}</td>
                <td>{{ .Latencies.P99 }}</td>
                <td>{{ .Latencies.P95 }}</td>
                <td>
                   <a class="btn btn-lg btn-link"
                      data-toggle="popover"
                      data-title="http status code"
                      data-html="true"
                      data-content="{{ range $code, $count := .StatusCodes }}<span class='label label-info'>{{ $code }}</span>=><span class='label label-default'>{{ $count }}</span><br/>{{ end }}">
                      <span class="glyphicon glyphicon-asterisk"></span>
                   </a> 
                </td>
                <td>
                    {{ if .Errors }}
                    <a class="btn btn-lg btn-link"
                       data-toggle="popover"
                       data-title="error counters"
                       data-html="true"
                       data-content="{{ range .Errors }}<span class='label label-info'>{{ . }}</span><br/>{{ end }}">
                       <span class="glyphicon glyphicon-remove-circle"></span>
                    </a> 
                    {{ else }}
                    <a class="btn btn-lg btn-link" href="javascript:void(0)">
                       <span class="glyphicon glyphicon-ok-circle"></span>
                    </a>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>
<script type="text/javascript">
$(function () {
      $('[data-toggle="popover"]').popover()
})
</script>
